// @internal 考虑移到独立模块

taro-button-core {
  // 覆盖默认 100%
  width: initial;

  & + & {
    margin-top: 0;
  }
}

taro-swiper-item-core {
  taro-image-core {
    // 图片居中显示
    text-align: center;
  }
}
